<!DOCTYPE html>
<html>
    <head>
        <title>Elemental Toy</title>
    </head>
    <body>
        <p>Hello!</p>
        <p>Today's date:</p>
        <p id="dateElement"></p>
    </body>
    <script>
      document.getElementById("dateElement").innerHTML = new Date();
    </script>
</html>
